<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 p-3" href="#"><span class="D">D</span>event</a>
    <a class="navbar-menu"
    ><div type="button" id="sidebarCollapse" (click)="toggle()">
      <div class="menu">
        <span [class.one]="!menuHidden"></span>
        <span [class.two]="!menuHidden"></span>
        <span [class.three]="!menuHidden"></span>
      </div>
    </div>
  </a>
<div class="col-md-3 col-lg-5 d-flex">
    <div class="dropdown">
        <button class="button dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-expanded="false">
            Select project
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</div>
    <div class="col-md-3 col-lg-2 d-flex">
        <div class="row">
            <div class="dropdown">
                <button class="button dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    wallet
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            <div class="create-project ml-3">
                <button href="#">create new project</button>
            </div>
        </div>

    </div>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <i class="fa fa-bell-o p-2 mr-3" aria-hidden="true"></i>
            <i class="fa fa-user-circle-o p-2" aria-hidden="true"></i>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="list-group-item d-flex w-100">
                        <h4 class="flex-grow-1">Navigation <i class="fas fa-sign-out-alt mx-1"></i></h4>
                    </li>
                    <li class="list-group-item d-flex w-100 bgg" routerLink="/about">
                        <div class="flex-grow-1">dashboard <i class="fas fa-sign-out-alt mx-1"></i></div>
                    </li>
                    <li class="list-group-item d-flex w-100 bgg" routerLink="/about">
                        <div class="flex-grow-1">manage project <i class="fas fa-sign-out-alt mx-1"></i></div>
                    </li>
                    <li class="list-group-item d-flex w-100 bgg" routerLink="/about">
                        <div class="flex-grow-1">project Features <i class="fas fa-sign-out-alt mx-1"></i></div>
                    </li>
                    <li class="list-group-item d-flex w-100 bgg" routerLink="/about">
                        <div class="flex-grow-1">finance <i class="fas fa-sign-out-alt mx-1"></i></div>
                    </li>
                    <li class="list-group-item d-flex w-100 bgg" routerLink="/about">
                        <div class="flex-grow-1">co-mangers<i class="fas fa-sign-out-alt mx-1"></i></div>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>