<div class="container">
    <div class="form-project">
      <h3>
        <span>create-project (1/2)</span>
      </h3>
    </div>
    <div class="form">
      <form>
        <div class="general-info">
          <p class="head-title">General info</p>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">project title</label>
              <input type="text" class="form-control" id="firstName" placeholder="demo d-event" />
            </div>
            <div class="col-sm-6">
              <label for="lastName" class="form-label">add co-managers</label>
              <input type="text" class="form-control" id="lastName" placeholder="steve-v" />
            </div>
          </div>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">type</label>
              <input type="text" class="form-control" id="firstName" placeholder="meeting" />
            </div>
            <div class="col-sm-6">
              <label for="lastName" class="form-label">category</label>
              <input type="text" class="form-control" id="lastName" placeholder="business & professional" />
            </div>
          </div>
        </div>
        <div class="general-info">
          <p class="head-title">Location</p>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">city</label>
              <input type="text" class="form-control" id="firstName" placeholder="brussels" />
            </div>
            <div class="col-sm-6">
              <label for="lastName" class="form-label">address</label>
              <input type="text" class="form-control" id="lastName" placeholder="av-louiso" />
            </div>
          </div>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">street number</label>
              <input type="text" class="form-control" id="firstName" placeholder="456" />
            </div>
            <div class="col-sm-6">
              <label for="lastName" class="form-label">country</label>
              <input type="text" class="form-control" id="lastName" placeholder="belgium" />
            </div>
          </div>
        </div>
        <div class="general-info">
          <p class="head-title">Date and time</p>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">start date</label>
              <input type="text" class="form-control" id="firstName" placeholder="25-12-2020" />
            </div>
            <div class="col-sm-6">
              <label for="lastName" class="form-label">start time</label>
              <input type="text" class="form-control" id="lastName" placeholder="18:00" />
            </div>
          </div>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">end date</label>
              <input type="text" class="form-control" id="firstName" placeholder="25-10-2020" />
            </div>
            <div class="col-sm-6">
              <label for="lastName" class="form-label">end time</label>
              <input type="text" class="form-control" id="lastName" placeholder="00:00" />
            </div>
          </div>
        </div>
        <div class="next">
          <button class="next-button m-3">next</button>
        </div>
      </form>
    </div>
  </div>
  